section{
    height: 400px;
    width: 600px;
    margin-top: 150px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position:relative;
  
}

body{
    background-image: url("bg3.png");
}


@font-face {

  }

p{
    font-family: Painting with Chocolate;
    color: white;
    position: absolute;
    margin: 50px;
    top: 100px;
    font-size: 25px;
}

h1{
    font-family: Painting with Chocolate;
    color: white;
    position: absolute;
    margin: 50px;
    font-size: 30px;
}
